:root {
  --primary-color: #027381;
  --secondary-color: #FF7751;
}

* {
  color: rgb(255, 255, 255);
}

audio {
  display: none;
}

@keyframes notify {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

.online {
  display: none;
  position: fixed;
  right: calc(50vw - 60px);
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.433);
  padding: 10px;
  border-radius: 20px;
  animation: notify 3s;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  overflow: auto;

  width: 100vw;
  height: 100vh;

  max-width: 425px;

  background: linear-gradient(var(--secondary-color), var(--primary-color));
}

.left {
  align-self: flex-start;
}

.right > * {
  align-self: flex-end;
}


.create-room {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 70px;
  height: 70px;

  position: absolute;
  bottom: 0px;
  margin: 10px;

  background-color: transparent;
  opacity: 0.8;
}

.create-room > img {
  width: 100%;
  height: auto;
}

.create-room:active {
  opacity: 1;
}